:root {
    --primary-color: #4285f4;
    --primary-color-hover: #4285f4;
    /* --primary-color-hover: #ff6445; */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #ffce3e;
    --star-none-color: rgba(0, 0, 0, 0.3);
    --like-color: #f63d30;
    --border-color: rgb(133, 133, 133);
    --border-color-1: #dbdbdb;
    --border-color-2: #e8e8e8;
    --border-color-3: rgba(0, 0, 0, 0.2);
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

.product__manage-block-heading {
    display: flex;
    align-items: center;
}

.product__heading {
    margin: 0;
}

.product__heading-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    width: 170px;
    height: 25px;
    cursor: pointer;
    top: -2px;
    margin-left: 10px;
}

.product__heading-btn-link {
    text-decoration: none;
    color: var(--white-color);
}

table {
    width: 100%;
    display: block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

th {
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 0;
}

tr {
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1rem;
    padding: 2px 8px;
}

.table__heading {
    padding: 0;
}

.table__content {
    height: 120px;
    padding: 0;
    margin-top: 2px;
    border-bottom: 1px solid #999;
}

.table__content:last-child {
    border-bottom: none;
}

.table__td-id,
.table__th-id {
    width: 3%;
    display: block;
}

.table__td-image,
.table__th-image {
    width: 15%;
    display: block;
}

.td-img {
    width: 100%;
    height: 100%;
    /* display: block; */
}

.table__td-name,
.table__th-name {
    width: 15%;
    display: block;
}


/* .table__td-name {
    height: 16px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
} */

.table__td-idproduct,
.table__th-idproduct {
    width: 12%;
    display: block;
}

.table__td-price,
.table__th-price {
    width: 10%;
    display: block;
}

.table__td-quantity,
.table__th-quantity {
    width: 5%;
    display: block;
}

.table__td-description {
    /* margin: 8px 8px 6px; */
    /* Neu muon co ... tren content thi them nay vao */
    width: 28%;
    height: 50px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: justify;
}

.table__th-description {
    width: 28%;
    display: block;
}

.table__td-action,
.table__th-action {
    width: 12%;
    display: block;
}

.action__btn.edit {
    background-color: #28a745;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--white-color);
    cursor: pointer;
}

.action__btn.del {
    background-color: #dc3545;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--white-color);
    cursor: pointer;
}

.action__btn.edit:hover,
.action__btn.del:hover,
.product__heading-btn:hover,
.form__add-product-submit:hover {
    opacity: 0.8;
}


/* Form */

.form__add-product {
    width: 100%;
    /* margin: 10px 0; */
    height: auto;
    padding: 0 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    /* display: none; */
}

.form__add-product-label {
    margin-bottom: 5px;
}

.form__add-product-input {
    width: 100%;
    height: 40px;
}

.form__add-product-input.description {
    height: 100px;
}

.form__add-product-input.btn {
    width: 142px;
    height: 30px;
}

.form__add-product-submit {
    margin: 10px 12px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: var(--white-color);
    background-color: #28a745;
    border: none;
    outline: none;
    border-radius: 2px;
}

.action__link {
    text-decoration: none;
    color: var(--white-color);
}

.form__add-product-submit-wrap {
    display: flex;
    justify-content: center;
}